.wrapper {
    width: 900%;
    max-width: 1200px;
    min-width: 100=00px;
    margin: auto;
    text-align: center;
}

.container {
    display: inline-block;
    overflow: hidden;
    text-align:center

}
img{
    width: 250px;
    height: auto;
    float: right;
    margin: -20%;
    border-radius: 10px;
    
}

body{
    background-color: olivedrab;
}

.name{

    text-align: center;
    font-size: 800%;
    margin-top: 100px;
    
}


.info, .summary{
    display: inline-block;
    vertical-align: top;
    background-color: bisque;
    padding: 15px;
    border-radius: 10px;
    width: 35%;
    min-width: 250px;
    margin: 10px;
    text-align: left;
}


.ews{
background-color: maroon;
margin: 20px auto;
width: 70%;
height: 200px;
padding: 20px;
border-radius: 10px;
}

.bt{
    background-color: black;
    color: bisque;
    width: 200px;
    height: 100px;
    padding: 10px;
    font-size: 18px;
    font-family:'Times New Roman', Times, serif;
    cursor: pointer;

}
